@tailwind base;
@tailwind components;
@tailwind utilities;



/* body{
  background-image: url('./assets/bg.avif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* *{
  overflow-x: hidden;
} */

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}